:root {
  --primary-bg-color: #070716;
  --secondary-bg-color: #10101a;
  --light-bg-color: #171720;
  --blue-bg-color: #506091;
  --hblue-bg-color: #3F3F8C;

  --primary-text-color: #BABABA;
  --secondary-text-color: #D4D4D4;
  --alternative-text-color: #0f0f22;
  --active-text-color: #F0F0F0;
}