:root {
  --primary-bg-color: #070716;
  --secondary-bg-color: #10101a;
  --light-bg-color: #171720;
  --ultra-light-bg-color: #21212a;
  --lightblue-bg-color: #6f82bb;
  --blue-bg-color: #506091;
  --hblue-bg-color: #3F3F8C;
  --violet-bg-color: #5a539b;
  --hviolet-bg-color: #2c2c8a;

  --some-gray: #ffffff0a;
  --some-violet: #5a539b31;

  --primary-text-color: #BABABA;
  --secondary-text-color: #D4D4D4;
  --unactive-text-color: #797979;

  --alternative-text-color: #0f0f22;
  --active-text-color: #F0F0F0;
}